<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, hic dolorum deleniti animi fuga eum, assumenda dolore, placeat doloribus rerum pariatur natus ea dolorem est possimus quos consequatur architecto totam!</p>
</body>
</html>